
.help-app{
   
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    align-content: center;
}

.div-titulo-help{
    margin: 15px;
    margin-left: 10%;
}
.centralizar-1{
    width: 100%;
}
.forms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.input-form{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin:5px;
    padding:5px;
    width: 100%;
    height: 35px;
}
.input-msg{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin:5px;
    padding:5px;
    width: 100%;
    height: 300px;
}
.centralizar{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
    margin-top: 5px;
}
.setinha1{
    margin: 15px;
    margin-left: 40%;
}

.perfilzao {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.name{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #373B5F;

}
.cargo{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

color: #373B5F;
padding-bottom: 20px;
border-bottom: 2px solid #f1f1f1;
}