li {
    list-style-type: none;
    margin: 5px;
    border-radius: 10px;
  }


.divBusca{
    background-color:#f1f1f1;;
    border:solid #f1f1f1 1px;
    
    width:95%;
    display: inline-flex;
    margin-top: 20px;

    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;




  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
   
    border:none;
    height:32px;
    width:260px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #9C9090;





  }

  .home-app {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 5px 10px 5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#btnBusca{
    padding-left: 72px;
}

.container-user-avatar{

    display: flex;

}
.user-avatar {
    position: relative;
    left: 360%;
    margin-top: 10px;
    padding-top: 7px;
}
.bairro{
    width: 100px !important;
    height: 100px !important;
    margin: 5px;
    border-radius: 10px;
}
.vermelho{
    background:#E43D3D;
}
.amarelo{
    background: #FBF2A2;
}
.verde{
    background: #80F8A1;
}
.container-bairros {
    display: flex;
    flex-wrap: wrap;
}

.div-bairros{
    margin: 10px;
}
.bairro span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */


color: #000000;
}