li {
    list-style-type: none;
    margin: 5px;
    border-radius: 10px;
  }


.divBusca{
    background-color:#f1f1f1;;
    border:solid #f1f1f1 1px;
    
    width:95%;
    display: inline-flex;
    margin-top: 20px;

    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;




  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
   
    border:none;
    height:32px;
    width:260px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #9C9090;





  }

  .home-app {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 5px 10px 5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#btnBusca{
    padding-left: 72px;
}

.container-user-avatar{

    display: flex;

}
.user-avatar {
    position: relative;
    left: 360%;
    margin-top: 10px;
    padding-top: 7px;
}
.bairro{
    
    width: 95px !important;
    height: 95px !important;
    margin: 5px;
    border-radius: 10px;
}
.vermelho{
    background:#E43D3D;
}
.amarelo{
    background: #FBF2A2;
}
.verde{
    background: #80F8A1;
}
.container-bairros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-bairros{
    margin: 10px;
}
.bairro span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */


color: #000000;
}

.titulo-h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #373B5F;
}
.div-titulo-filtro {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    margin: 15px;
}
.icon-filter-div{
display: inline-flex;
padding-left: 18%;
}
.btn-vermais{
    width: 137px;
height: 25px;

background: #F1F1F1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
text-decoration: underline;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;

}
#map{
    height: 150px;
    width: 319px;
}
.mapbairros{
    height: 350px !important;
    width: 319px !important;
}
.top-map{
    position: absolute;
    top: 20px;
    left:200px;
    width:400px;
    height: 50px;
    background-color: white;
    z-index: 1000;

}
.gm-control-active gm-fullscreen-control{
    background: none rgb(159, 81, 81);
    border: 0px;
    margin: 10px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    overflow: hidden;
    top: 0px;
    right: 0px;
}
.map-container{
    background: #f1f1f1;
    padding: 11px;
    border-radius: 10px;
}
.map-container-bairros{
    background: #f1f1f1;
    padding: 11px;
    border-radius: 10px;
}
.container-normal {
    background: #f1f1f1;
    padding: 11px;
    border-radius: 10px;
    width: 100%;
    margin: 12px;
    min-height: 150px;
}
.setinha {
    position: relative;
    margin-top: 17px;
    padding-top: 7px;
    left: -480%;
}
.paragrafo-normal{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    margin-top: 10px;
    margin-bottom: 10px;
    
    color: #000000;
}
.h1-normal{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #373B5F;
}
.tile{
    text-decoration: none;
}
.duvida-container {
    margin-top: 55px;
    display: flex;
    background: #f1f1f1;
    border-radius: 8px;
    align-items: center;
    padding: 8px;
}
.interrogacao{
    width: 30px;
}

.titulo-forms{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #373B5F;
    margin:5px;
    padding:5px;
}
.input-form{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin:5px;
    padding:5px;

}
.submit-button{
    width: 99px;
    height: 37px;
    left: 143px;
    top: 676px;
    color:#fff;

    background: #373B5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.icon-tile{
    margin-left: 5px;
    transform: translate(68px, 58px);
}
.div-tile{
    display: flex;
}